#cabecalho{
    background-color: black;

}
#cabecalho li{
    margin-left: 200px;
    color: #92d36e;
}

#cabecalho a:link {color:#92d36e;}
#cabecalho a:visited {color:#92d36e;}
#cabecalho a:hover {color:#92d36e;}

#cabecalho form{
    margin-left: 150px;
}

#rodape{
    background-color: black;

}
 object{
     position: absolute;
     bottom: 0px;
     height: 100px;
     width: 100%;
 }

 #text-rodape{
     color:#92d36e;
 }


#container{
    margin-top:100px;
    margin-left:100px; ;
}

.time{
    margin-top: 3%;
    width: 100px;
    color:black;
    font-size: 16px;
    font-weight: bold;
}

.artist{
    margin-top: 3%;
    width: 150px;
    color:black;
    font-size: 18px;
    font-weight: bold;
}

.music{
    width: 250px;
    color:black;
    font-size: 34px;
    font-weight: bold;
}

