/*#body{
    background-color: white;
}
*/

#cabecalho{
    background-color: black;

}
#cabecalho li{
    margin-left: 200px;
    color: #92d36e;
}

#cabecalho a:link {color:#92d36e;}
#cabecalho a:visited {color:#92d36e;}
#cabecalho a:hover {color:#92d36e;}

#cabecalho form{
    margin-left: 150px;
}

#rodape{
    background-color: black;
}

#text-rodape{
    color:#92d36e;
}

.card{
    width:200px;
    margin-top: 5%;
    margin-left: 20%;    
}
