#cabecalho{
    background-color: black;

}
#cabecalho li{
    margin-left: 200px;
    color: #92d36e;
}

a:link {color:#92d36e;}
a:visited {color:#92d36e;}
a:hover {color:#92d36e;}

#cabecalho form{
    margin-left: 150px;
}